*{
    margin: 0 px;
    padding: 0px;
}
body{
    background-color: black;
    margin: auto;
    
    
}
.header{
    display: flex;
    gap: 80px;
    margin-top: 25px;
    /* margin-left:700px; */
    /* margin-right:500px; */
}
.image{
    width: 250px;
    height: 180px;
    margin-left: 22%;
}
.list{
    font-size: 35px;
    margin-top: 45px;
    margin-left: 15%;
    display: flex;
    /* justify-content: space-between; */
    gap: 35px;
    list-style: none;
    font-family: "Kanit", sans-serif;
    color: white
}
.resume{
    margin-left: 0%;
}
.btn{
    width: 200px;
    margin-top: 45px;
    background-color: orange;
    font-size: 25px;
    font-family: "Kanit", sans-serif;
    
}
.resume-img{
    width: 50px;
    height: 50px;
}
.adjust{
    display: flex;
    /* justify-content: space-around; */
    gap: 50px;
    margin-left: 25%;
}
.title1{
    font-size: 100px;
    color: aqua;
    
}
.title2{
    /* width: 600px; */
    /* height: 50px; */
    font-size: 100px;
    color: aqua;
    margin-left: 2%;
    
}
.subtitle{
    font-size: 30px;
    color: white;
}
.description{
    color: white;
    width: 780px;
    height: 150px;
    margin-top: 30px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.left-banner{
    margin: 75px 80px;
    /* font-size: 35px; */
}
.banner{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.banner-img{
    width: 550px;
    height: 780px;
    margin-top: 15px;
    margin-right: 10%;
    /* padding: 25px 50px; */
}
.icon{
    display: flex;
    gap: 25px;
}
.facebook{
    width: 70px;
    height: 70px;
    margin-top: 30px;
}
.linkedin{
    width: 48px;
    height: 48px;
    margin-top: 40px;
}
.github{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 4%;
}
.adjust1{
    display: flex;
}
.adjust-btn{
    margin-left: 4%;
    width: 250px;
    margin-top: 40px;
    background-color: orange;
    font-size: 25px;
    font-family: "Kanit", sans-serif;
}
.arrow-img{
    width: 50px;
    height: 50px;
}
.portfolio-title{
    font-size: 80px;
    text-align: center;
    color: white;
    margin-top: 150px;
}
.up-port{
    display: flex;
    /* justify-content: space-around; */
    gap: 25px;
    border: 2px solid white;
    margin: 100px 250px;
}
.left-port-img{
    width: 880px;
    height: 480px;
    margin: 20px;
}
.right-title{
    font-size: 100px;
    color: aqua;
}
#rt-des{
    width:1080px;
    height: 250px;
    font-size:25px;
    color: white;
}
.btn-container{
    /* background-color: gray; */
    font-size: 25px;
    display: flex;
    gap: 50px;
    margin-left: 150px;
    
}
.service-title{
    color: rgb(226, 218, 218);
    font-size: 60px;
    margin-left: 250px;
}
.service-btn{
    color: black;
    font-size: 30px;
    background-color: rgb(198, 194, 194);
    padding: 10px 12px;
    margin-top: 30px;
    font-family: "Kanit", sans-serif;
}
.service-cart{
    margin-left: 280px;
    gap: 75px;
    padding: 15px;
}
.service1{
    margin-top: 50px;
}
.service{
    display: flex;
    /* border: 2px solid white; */
    margin: 70px 250px;
    padding:50px 50px;
}
.edu-title{
    width: 700px;
    /* height: 200px; */
    font-size: 100px;
    color: aqua;
}
#edu-des{
    width: 700px;
    font-size: 35px;
    color: white;
}
.edu{
    margin-top: 50%;
    margin-left: 25%;
}
.cont{
    text-align: center;
    border: 1px solid gray;
    padding: 25px;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 50px;
    box-shadow: 4px 4px 8px gray;
}
.con-title{
    color: aqua;
    font-size: 75px;
    margin-top: 5%;
    text-align: center;
    
}
.form{
    background-color: rgb(206, 202, 202);
    font-size: 30px;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;
}
.form1{
    width: 400px;
    height: 200px;
    background-color: rgb(206, 202, 202);
    font-size: 30px;
    border: 1px solid white;
    box-shadow: 2px 2px 4px gray;
    border-radius: 10px;
}
.submit{
    font-size: 40px;
    padding: 2px 5px;
}
.horizontal{
    color: white;
    margin-top: 100px;
}
.cpr-img{
    width: 30px;
    height: 30px;
    margin-top: 80px;

}
#cpr{
    color: white;
    font-size: 30px;
    margin-left: 40%;
    margin-top: 75px;
}
.copy{
    display: flex;
    gap: 15px;
}
.date{
    color: white;
    font-size: 30px;
    margin-top: 75px;
}
.sub{
    color: white;
    font-size: 30px;
    margin-left: 41%;
    margin-top: 15px;
}
.foot-img{
    margin-left: 42%;
}
.footer{
    padding: 50px 0px;
}